<html>
						<center>
						<img src="http://content.sportslogos.net/logos/30/618/full/qlnjic8hz1wmgj20xmwppdm5u.gif" width="300" height="200">
						<BR>
						<span style="color: #ffff;"><b>EAGLE FINANCIAL SERVICES</b></span>
						<br>
						<h1 style="text-align: center;">
						<span style="color: #8A2BE2;"><i>Your MidWest Financial Service Partner</i></span>
						</h1>
						<h1 style="text-align: center;">
						<span style="color: #8A2BE2;"><i>Financial Advisor Portfolio Planner</i></span>
						</h1>
						</h2>

							<A  href="investments" id="projectNav">Investments</A>
							<br><br>
							<br><br>
							<A href="stocks" id="projectNav">Portfolio</A></td>
							<br><br>
							<br><br>
							<A href="customers" id="projectNav">Customer Profile</a></td>
</html>